.board-form {
  margin: 20px;
  padding: 15px;
  background-color: #eae9e7;
  border: 2px solid #000000;
  border-radius: 10px;
  max-width: 100%;
}

.board-form h2 {
  margin-top: 0;
}

.board-form label {
  display: block;
  margin-bottom: 10px;
}

.board-form input {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
  box-sizing: border-box;
}

.board-form button {
  padding: 8px 12px;
  background-color: #6a66ab;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.error-message {
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.error-input {
  border: 2px solid red;
  outline: none;
}