.card-tile {
  display: grid;
  grid-template-rows: 3fr 1fr;
	gap: 0.25rem; 
  aspect-ratio: 1 / 1;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  cursor: pointer;
  width: 200px;
  transition: transform 0.2s ease;
}

.card-tile.pink {
  background-color: #ffe0e0;
  border: 2px solid #ffc8c8;
}

.card-tile.green {
  background-color: #d3ffe4;
  border: 2px solid #acf7c2;
}

.card-tile.blue {
  background-color: #c5e0ff;
  border: 2px solid #b1d5ff;
}

.card-tile.yellow {
  background-color: #fcffd6;
  border: 2px solid #e6eb94;
}

.message-box {
	grid-row: 1 / 2;
}

.footer {
	grid-row: 2 / 3;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.5rem;
  height: 100%;
}

.grid-box {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.25rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}